@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vermelho-etec: #820024;
    --laranja-etec: #f68b37;
    --neumorphism-shadow: -6px -6px 18px rgba(255, 255, 255, 0.3),
        6px 6px 18px rgba(0, 0, 0, 0.16);
    --dark-neumorphism-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
        5px 5px 15px rgba(0, 0, 0, 0.5);
}

body {
    width: 100%;
    height: 100%;
    background: #dedede;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    border-radius: 12px;
    padding: 2%;
    margin: 2% 0;
    align-items: center;
    background: #fff;
    box-shadow: var(--neumorphism-shadow);
}

nav header {
    display: flex;
    width: 95%;
    border-radius: 12px;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: inset -6px -6px 18px #ffffff,
        inset 6px 6px 18px rgba(0, 0, 0, 0.16);
}

nav h1 {
    color: var(--vermelho-etec);
    font-size: 3vmax;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
}

nav .hamburger {
    cursor: pointer;
    width: 4vmax;
    color: var(--vermelho-etec);
}

nav .dropdown {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

nav .dropdown .row {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    margin: 1% 0;
    padding: 2% 6%;
    width: 95%;
    border-radius: 12px;
    box-shadow: var(--neumorphism-shadow);
}

nav .dropdown .row:active {
    cursor: pointer;
    box-shadow: inset -6px -6px 18px #ffffff,
        inset 6px 6px 18px rgba(0, 0, 0, 0.16);
}

nav#dark {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    border-radius: 12px;
    padding: 2%;
    margin: 2% 0;
    align-items: center;
    background: #1b1b1b;
    box-shadow: var(--dark-neumorphism-shadow);
}

nav#dark header {
    display: flex;
    width: 95%;
    border-radius: 12px;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
        inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}

nav#dark h1 {
    color: var(--laranja-etec);
    font-size: 3vmax;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
}

nav#dark .hamburger {
    cursor: pointer;
    width: 4vmax;
    color: var(--laranja-etec);
}

nav#dark .dropdown {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

nav#dark .dropdown .row {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    margin: 1% 0;
    padding: 2% 6%;
    width: 95%;
    border-radius: 12px;
    box-shadow: var(--dark-neumorphism-shadow);
}

nav#dark .dropdown .row:active {
    cursor: pointer;
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
        inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}